    body {
        font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    }
    /* nav */
    
    .nav {
        display: flex;
        position: absolute;
        width: 900px;
        justify-content: space-between;
        margin-right: 200px;
        margin-left: 200px;
        top: 110px;
        height: 36px;
        border-radius: 6px;
        list-style-type: none;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.2)), color-stop(0.05, rgba(0, 0, 0, 0)), color-stop(0.97, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.45))), -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0.2)), color-stop(0.002, rgba(0, 0, 0, 0)), color-stop(0.998, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2))), -webkit-gradient(linear, 0 100%, 0 0, from(#666), color-stop(0.5, #5e5e5e), color-stop(0.51, #707070), to(#808080));
    }
    
    .search-bar {
        border-radius: 20px;
        height: 15px;
        width: 160px;
        margin-top: 7px;
        margin-right: 5px;
        margin-left: 10px;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.2)), color-stop(0.05, rgba(0, 0, 0, 0)), color-stop(0.97, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.45))), -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0.2)), color-stop(0.002, rgba(0, 0, 0, 0)), color-stop(0.998, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2))), -webkit-gradient(linear, 0 100%, 0 0, from(#666), color-stop(0.5, #5e5e5e), color-stop(0.51, #707070), to(#808080));
    }
    
    .search {
        flex: 2;
        border: 1px solid #5b5b5b;
        border-width: 0 0 0 0;
    }
    
    .nav-icon {
        flex: 1;
        padding-top: 7px;
        text-align: center;
        border-color: #5b5b5b;
        border-width: 0 0 0 1px;
    }
    
    .nav-icon a {
        color: white;
        text-decoration: none;
    }
    
    .b {
        border-width: 0 1px 0 0;
        border-style: solid;
        border-color: #5b5b5b;
    }
    
    .b-1 {
        border-width: 0 1px 0 0;
        border-style: solid;
        border-color: #5b5b5b;
        margin-left: -30px;
    }
    
    .apple-logo {
        width: 20px;
        height: 21px;
        text-align: center;
    }
    /* main */
    
    main {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 538px 200px 54px;
        font-family: Helvetica, Arial, Verdana, sans-serif;
    }
    
    .hero-image {
        background-image: url("../images/hero.jpg");
        background-color: #ccc;
        height: 700px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        object-fit: cover;
        cursor: pointer;
    }
    
    .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-weight: 100;
    }
    
    .hero-text h1 {
        font-size: 40px;
        font-family: Helvetica, Arial, Verdana, sans-serif;
    }
    
    .hero-text p {
        font-size: 21px;
        margin-bottom: 40px;
        cursor: pointer;
    }
    
    .hero-text span {
        font-size: 18px;
        margin-top: 30px;
        cursor: pointer;
    }
    
    .hero-text span:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    
    .grid-box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-auto-flow: row;
        grid-template-areas: "col1" "col2" "col3" "col4";
        margin-top: 165px;
        width: 100%;
    }
    
    .a1 {
        background-image: url("../images/promo_iphone5s.jpg");
        background-size: cover;
    }
    
    .a2 {
        background-image: url("../images/promo_iphone5c.jpg");
        background-size: cover;
        margin-left: 5px;
    }
    
    .a3 {
        background-image: url("../images/promo_30_years.jpg");
        background-size: cover;
        margin-left: 5px;
    }
    
    .a4 {
        background-image: url("../images/promo_supplier_responsibility.jpg");
        background-size: cover;
        margin-left: 5px;
    }
    /* footer */
    
    .main-flex {
        margin-right: 160px;
        margin-left: 160px;
    }
    
    .flex {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        font-size: 10px;
    }
    
    .flex li {
        border-width: 0 1px 0 0;
        border-style: solid;
        border-color: #ccc;
        padding-right: 5px;
        padding-left: 5px;
    }
    
    .flex a {
        text-decoration: none;
        color: #08c;
    }
    
    .footer-txt {
        padding-top: 10px;
    }
    
    .footer-bottom a {
        text-decoration: none;
        color: #08c;
    }
    
    .footer-bottom {
        font-size: 10px;
        margin-left: 160px;
    }
    
    footer {
        margin-top: 140px;
        margin-bottom: 50px;
    }
    
    .usa-logo {
        width: 10px;
        height: 10px;
    }
    
    .play-logo {
        width: 15px;
        height: 15px;
        margin-top: 5px;
        padding-left: 3px;
    }